    <div class="row">
        <div class="col s6 m6 l6"> 
            <p class="para">
                <center>Step I </center><br>
                Enter the -35 and -10 Sequences for which you would like the strength to be predicted <br>
                (Now Click all done to view Predicted Value).
            </p>
            <img class="steps" src="/static/images/EnterInputsForPrediction.png">
        </div>
        <div class="col s6 m6 l6"> 
            <p class="para">
                <center>Step II (Optional) </center> <br>
                Enter the number of datasets you like to add to the exsisting 18 datasets
                <br>
                (Avoid adding entries that are already a part of the exsisting dataset).
            </p>
            <img class="steps" src="/static/images/EnterNumberOfElementsToBeAdded.png">
        </div>
    </div>
    <div class="row">
        <div class="col s6 m6 l6"> 
            <p class="para">
                <center>Step III (Optional) </center><br>
                Enter the -35 and -10 Sequences for which you already have the Strength <br>
                (Larger the dataset better more accurate the output).
            </p>
            <img class="steps" src="/static/images/EnterAdditionalDatasetElements.png">
        </div>
        <div class="col s6 m6 l6"> 
            <p class="para">
                <center>Step IV </center> <br>
                The Graph Model of your Datasets along with the Predicted Strength for the given -10 and -35 Sequence will be displayed in under 3 seconds.
            </p>
            <img class="steps" src="/static/images/PredictedOutput.png">
        </div>
    </div>